:host {
  display: grid;
  grid-template-rows: auto 50vmin;
  width: 60vmin;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

button + button {
  margin-left: 1rem;
}

.box {
  display: inline-block;
  margin: 0.5rem;
  width: 10vmin;
  height: 10vmin;
  background-color: #e63946;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
