<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <h1 class="header__title">Angular Animations</h1>
  <nav class="header__nav">
    <ul class="header__nav-ul">
      <li class="header__nav-link">
        <a routerLink="shape-and-color">
          Shape & Color
        </a>
      </li>
      <li class="header__nav-link">
        <a routerLink="enter-leave">
          Enter & Leave
        </a>
      </li>
      <li class="header__nav-link">
        <a routerLink="night-mode">
          Night Mode
        </a>
      </li>
      <li class="header__nav-link">
        <a routerLink="stagger">
          Stagger
        </a>
      </li>
    </ul>
  </nav>
</header>
<main class="content">
  <router-outlet></router-outlet>
</main>
