:host {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.header {
  background: #e63946;
  color: #f1faee;
  padding: 2rem;
}

.header__title {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.header__nav-ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__nav-link + .header__nav-link {
  margin-left: 1rem;
}

a {
  color: currentColor;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
