<div class="box" [@color]="colorState" [@shape]="shapeState"></div>
<form>
  <fieldset>
    <legend>Color</legend>
    <label>
      <input
        class="aa-radio-button"
        type="radio"
        name="color"
        value="hotpink"
        [(ngModel)]="colorState"
      />
      Hotpink</label
    >
    <label>
      <input
        class="aa-radio-button"
        type="radio"
        name="color"
        value="dodgerblue"
        [(ngModel)]="colorState"
      />
      Dodgerblue</label
    >
    <label>
      <input
        class="aa-radio-button"
        type="radio"
        name="color"
        value="slategray"
        [(ngModel)]="colorState"
      />
      Slategray</label
    >
  </fieldset>
  <fieldset>
    <legend>Shape</legend>
    <label>
      <input
        class="aa-radio-button"
        type="radio"
        name="shape"
        value="square"
        [(ngModel)]="shapeState"
      />
      Square</label
    >
    <label>
      <input
        class="aa-radio-button"
        type="radio"
        name="shape"
        value="circle"
        [(ngModel)]="shapeState"
      />
      Circle</label
    >
    <label>
      <input
        class="aa-radio-button"
        type="radio"
        name="shape"
        value="drop"
        [(ngModel)]="shapeState"
      />
      Drop</label
    >
  </fieldset>
</form>
